.h1 {
  font-size: 27px;
  font-weight: bold;
  margin: 0 auto;
}

.h2 {
  font-size: 25px;
  font-weight: bold;
  margin: 0;
}

.h3 {
  font-size: 17px;
  font-weight: bold;
  margin: 0;
}

.btn {
  background-color: @white;
  color: @gray-text;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Open Sans", "Arial", sans-serif;
  border: 2px solid @gray-text;

  cursor: pointer;
  display: block;
  text-align: center;
  padding: 16px 0;
  line-height: 1;
  box-sizing: border-box;

  &:hover {
    background-color: @gray-text;
    color: @white;
  }

  &:focus {
    background-color: @gray-text;
    color: rgba(255, 255, 255, 0.3);
  }
}

.fieldset {
  border: none;
  padding: 0;
  margin: 0;
  position: relative;
}

.input-text {
  border: none;
  border-bottom: 2px solid @gray-text;
  width: 100%;
  outline: none;
  font-family: "Open Sans", "Arial", sans-serif;
  color: @gray-text;
  padding-top: 10px;
  padding-bottom: 14px;
  font-size: 19px;

  &::placeholder {
    color: tomato;
    font-size: 17px;
    line-height: 18px;
    font-family: "Open Sans", "Arial", sans-serif;
  }
}

.input-text--tel {
  margin-bottom: 30px;
  padding-top: 17px;

  &::placeholder {
    font-size: 19px;
  }
}

.input-text--email {
  margin-bottom: 30px;
  padding-top: 17px;
}

.input-text--bonus {
  min-height: 142px;
  margin-top: 23px;
  padding-top: 16px;
  padding-left: 16px;
  box-sizing: border-box;
  border: 2px solid @gray-text;

  resize: none;
  overflow: auto;
}

svg {
  overflow: hidden;
}

@media (min-width: @tablet-width) {
  .h1 {
    font-size: 43px;
    line-height: 50px;
    width: 500px;
  }

  .h2 {
    font-size: 43px;
  }

  .input-text {
    padding-left: 16px;
    padding-top: 10px;

    &::placeholder {
      font-size: 19px;
    }
  }

  .input-text--tel {
    margin-bottom: 17px;
    margin-top: 0;
    padding-top: 11px;
    padding-bottom: 13px;
    background-color: @gray-bg;
    width: 501px;
  }

  .input-text--email {
    margin: 0;
    background-color: @gray-bg;
    padding-top: 17px;
    box-sizing: border-box;
    width: 501px;
  }

  .input-text--bonus {
    margin: 0;
    padding-top: 12px;
    padding-left: 14px;
    margin-bottom: 3px;
  }
}

@media (min-width: @desktop-width) {
  .h1 {
    font-size: 53px;
    line-height: 57px;
    width: 630px;
  }

  .h2 {
    font-size: 53px;
  }

  .input-text {
    padding-top: 12px;

    &:hover,
    &:focus {
      border-color: @green-light;
    }
  }

  .input-text--tel {
    margin-bottom: 20px;
    width: 700px;
    padding-top: 10px;
    padding-left: 17px;
  }

  .input-text--email {
    padding-top: 15px;
    width: 700px;
  }

  .input-text--bonus {
    padding-top: 12px;
    margin-bottom: 0;
  }
}
