.categories {
  .list-reset();
  .container();
  padding: 0;
  margin-top: -73px;
  margin-bottom: 30px;

  display: flex;
  flex-direction: column;

  font-weight: bold;
  font-size: 19px;
}

.categories__link {
  color: @white;
  width: 111px;
  display: block;
}

.categories__item {
  padding-top: 25px;
  padding-left: 29px;
  width: 320px;
  height: 103px;
  box-sizing: border-box;
}

.categories__item--interior {
  background-color: @green-light;
}

.categories__item--toys {
  background-color: @green-dark;
}

@media (min-width: @tablet-width) {
  .categories {
    display: flex;
    flex-direction: row;
    width: 668px;
    font-size: 20px;
    margin-bottom: 55px;
  }

  .categories__item {
    padding-left: 36px;
    padding-top: 35px;
    height: 119px;
    width: 334px;
  }
}

@media (min-width: @desktop-width) {
  .categories {
    display: flex;
    flex-direction: row;
    width: 1050px;
    margin-bottom: 134px;
  }

  .categories__item {
    padding-left: 36px;
    height: 119px;
    padding-top: 30px;
    width: 525px;
  }
}
