.categories {
  .container();
  padding: 0;

  display: flex;
  flex-direction: column;

  list-style: none;
  font-weight: bold;
}

.categories__link {
  color: @white;
}

.categories__item {
  padding: 29px 30px;
}

.categories__item--interior {
  background-color: @green-light;
}

.categories__item--toys {
  background-color: @green-dark;
}
