.main-promo {
  background-color: @grey-promo;

  text-align: center;

  padding-top: 76px;
  padding-bottom: 74px;
}

.main-promo--bg {
  background-image: url("../img/hero-mobile@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;

  padding-bottom: 120px;
}

.h1-main {
  width: 244px;

}
