.main-footer {
  background-color: @gray-bg;
}

.main-footer__inner {
  .container();

  line-height: 0;
}

.main-footer__logo {
  display: none;
}

.main-footer__logo[href] {
  &:hover {
    fill: #46c1ae;
  }

  &:focus {
    fill-opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .main-footer__inner {
    width: 772px;
    padding: 0;
  }

  .main-footer__wrapper {
    padding: 0 51px;
    padding-top: 51px;
    padding-bottom: 57px;

    display: flex;
    align-items: flex-start;
  }

  .main-footer__logo {
    display: block;
  }

  .main-footer__copyright {
    margin-left: auto;
    margin-top: 5px;
  }
}

@media (min-width: @desktop-width) {
  .main-footer__inner {
    width: 1150px;
  }

  .main-footer__wrapper {
    padding-top: 49px;
  }

  .main-footer__social {
    margin-left: auto;
  }
}
