.social__list {
  .list-reset();

  padding-top: 25px;
  padding-bottom: 27px;
  padding-left: 60px;
  padding-right: 60px;
  border-bottom: 1px solid #e5e5e5;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social__link svg {
  fill: currentColor;
}

.social__link {
  display: block;
  color: #221f1f;

  &:hover {
    color: #46c1ae;
  }

  &:focus {
    color: #bde3dd;
  }
}

@media (min-width: @tablet-width) {
  .social__list {
    width: 141px;
    padding: 0;
    padding-top: 58px;
    padding-bottom: 57px;
  }
}
